<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="bookmark" href="favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/manage.css}"/>
    <meta charset="UTF-8">
    <title>青木咖啡管理系統</title>
</head>
<body>
    <div class="nav d-flex justify-content-center">
        <div class="btn_area position-relative">
            <a class="btn btn-outline-secondary" href="read">預約查詢</a>
            <a class="btn btn-outline-secondary" href="booking">預約訂位</a>
            <a class="btn btn-outline-secondary" href="#">修改預約</a>
            <a class="btn btn-outline-secondary" href="#">登出系統</a>
        </div>
    </div>
</body>
</html>